html{
  height: 100%;
}

body{
  height: 100%;
  background: #98B1C4;
}

#search{
  margin-top: 10%;
}

#search .row{
  padding: 0;
}


#search p{
  margin: 10px auto;
}

#results{
  min-height: 45%;
  min-height: 45vh;
  margin-top: 30px;
}

#results .row{
  background: #C8D7E3;
  border-radius: 10px;
  margin: 5px;
  padding: 0 5px;
}

a{
  color: #000;
}

a:hover{
  color: #000;
  text-decoration: none;
}

#lucky a{
  color: #8a5c8a;
  font-size: 20px;
  font-weight: bold;
}

.form-control{
  border: 1px solid #000;
}

.btn-default{
  border-color: #000;
}

footer{
  margin-top: 20px;
  color: #333;
}

footer a{
  color: #8a5c8a;
  font-weight: bold;
}

@media screen and (max-width: 480px){
  img{
    width: 100%;
  }

  #search{
    width: 60%;
  }

  #results{
    width: auto;
  }
}
